<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h3 class="mb-0">Delivery Boy List</h3>
            </div>
            <div class="col-lg-6">
              <div class="row" style="float: right;">
                <div class="col-sm-12">
                  <div class="form-group mb-0">
                    <div class="input-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                      </div>
                      <input class="form-control" placeholder="Search" type="text" [ngModel]="keyword" (ngModelChange)="searchKeyword($event,1)" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="table-responsive ">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Name</th>
              <th scope="col">E-Mail</th>
              <th scope="col">Mobile</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let  delivery of deliveryBoyList ; index as key ">
              <td>
                {{  key + 1}}
              </td>
              <td>
                {{ delivery.name }}
              </td>
              <td>
                {{ delivery.email }}
              </td>
              <td>
                {{ delivery.phone }}
              </td>
              <td>
                {{ delivery.status }}
              </td>
              <td>
                <div class="row">
                  <div class="col-2">
                    <a (click)="approved(delivery.id)"><button class="btn btn-primary">View</button></a>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="col-2">
                    <a (click)="showDetail(delivery.id)"><button class="btn btn-primary">View</button></a>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="col-2">
                    <a> <button class="btn btn-danger">Delete</button></a>
                  </div>

                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <app-pagination [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage" (onPageChange)="displayActivePage($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
