<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 container-fluid">
          <div class="row">
            <div class="col-lg-6">
               <h3 class="mb-0">Product List</h3>
            </div>
            <div class="col-lg-6">
              <div class="row" style="float: right;">
                <div class="col-sm-10">
                  <div class="form-group mb-0">
                    <div class="input-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                      </div>
                      <input class="form-control" placeholder="Search Your Products" type="text" [ngModel]="keyword" (ngModelChange)="searchKeyword($event)">
                    </div>
                  </div>
                </div>
                <div class="col-lg-1" >
                  <a href="/admin/add-product">
                    <i class="fa fa-plus" aria-hidden="true" style="color: #f5365c;"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="table-responsive ">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
              <th scope="col">Sku</th>
              <th scope="col">Stock</th>
              <th scope="col">Price</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let  product of productList ; index as key ">
                <td>
                  {{  key + 1}}
                </td>
                <td>
                  {{ product.name }}
                </td>
                <td>
                  <img src="http://localhost:2000/product/images/{{product.image}}" class="rounded" style="height: 50px;">

                </td>
                <td>
                  {{ product.sku }}
                </td>
                <td>
                  {{ product.stock }}
                </td>
                <td>
                  {{ product.price}}
                </td>
                <td>
                  <label class="custom-toggle" *ngIf="product.status === 1">
                    <input type="checkbox" (change)="changeStatus(product.id,0)" checked>
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>

                  <label class="custom-toggle" *ngIf="product.status === 0">
                    <input type="checkbox" (change)="changeStatus(product.id,1)" >
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                </td>
                <td>
                    <div class="row">
                      <div class="col-2">
                        <a> <i class="fa fa-eye" aria-hidden="true" style="color: black;"></i></a>
                      </div>
                      <div class="col-2">
                          <a (click)="editProduct(product.id)"> <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: cornflowerblue;"></i></a>
                        </div>
                        <div class="col-2">
                          <a> <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i></a>
                        </div>

                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <app-pagination [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage" (onPageChange)="displayActivePage($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

