<nav aria-label="...">
  <ul class="pagination justify-content-end mb-0">
    <li class="page-item disabled" (click)="onClickPage(activePage - 1)">
      <a class="page-link" href="javascript:void(0)" tabindex="-1">
        <i class="fas fa-angle-left"></i>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active" [ngClass]="{'active': activePage === item}" *ngFor="let item of pages"
        (click)="onClickPage(item)"><a class="page-link" href="javascript:void(0)">{{item}}</a>
    </li>
    <li class="page-item" (click)="onClickPage(activePage + 1)">
      <a class="page-link" href="javascript:void(0)">
        <i class="fas fa-angle-right"></i>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
